@import url('https://fonts.googleapis.com/css?family=Sacramento|Pathway+Gothic+One|Roboto:100,300,400');
html, body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #ccc;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.0rem;
	text-transform: uppercase;
	margin: 0 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 35px;
    box-sizing: border-box;
}
td {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.gall {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
  margin: 20px;
  transition: all 0.8s ease-in;
}
.gall:hover {
  position: absolute;
  left: 70%;
  height: -50px;
  width: auto;
  z-index: 999;
  cursor: pointer;
}
#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
#blue {
	width: 100vw;
	height: 95vh;
}
#gallery {
	width: 75%;
	height: 100vh;
	margin: 0 auto;
    display: flex;
    justify-content: center;
}
#content {
	background-color: #fff;
	width: 70%;
	height: 50vh;
	margin: 0 auto;
	padding-top: 70px;
	box-sizing: border-box;
}
blockquote {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
}
.author {
	font-size: 1.5rem;
}
#navigation {
	width: 100%;
	height: 5vh;
	position: fixed;
	bottom: 0;
	background-color: #000;
	display: flex;
	align-items: center;
}
#buy {
    background-color: #ff0000;
	width: 100%;
	height: 100vh;
    display: flex;
	justify-content: space-around;
	align-items: center;
}
.product {
  max-width:500px;
  max-height:300px;
  width: auto;
  height: auto;
  opacity: 0.8;
  transition: all 0.5s ease-in;
}
.product:hover {
  max-width:700px;
  max-height:400px;
  width: auto;
  height: auto;	
  opacity: 1;
}
.welcome {
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	font-size: 8rem;
	position: absolute;
	top: 25%;
	left: 15%;
	color: #fff;
	text-align: center;
}
.asterisk {
	font-size: 4rem;
	position: absolute;
	top: 50;
}
.sub {
	font-family: 'Sacramento', cursive;
	letter-spacing: 0.1rem;
	font-size: 1.8rem;
	position: absolute;
	bottom: 3%;
	left: 77%;
	color: #fff;
	text-align: center;
}
.logo {
	position: absolute;
	left: 43%;
	width: 15%;
	margin-top: 5%;
}
.slides {
	height: 100%;
	width: 100%;
}
.direction {
	z-index: 10;
	border: none;
	padding: 20px;
	height: 50%;
	font-size: 4rem;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	margin-top: 20vh;
	opacity: 0.6;
    cursor: pointer;
}
.slideshow {
	box-sizing: border-box;
}
#back {
	position: absolute;
	left: 0;
}
#front {
	position: absolute;
	right: 0;
}
.modalDialog {
	position: fixed;
	font-family: 'Pathway Gothic One', sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 13% auto;
	padding: 5px 40px 120px 20px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
	transition: opacity 400ms ease-in;
}
.close:hover { background: #F7971E; }

.pop {
	margin: 0 auto;
	text-align: center;
}
.purchase {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #F7971E;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}
.store {
  max-width:500px;
  max-height:200px;
  width: auto;
  height: auto;
}
